body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.add{
    background-image: url('222.jpeg');
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.section {
    padding: 20px;
}

footer {
    background-color: #f4f4f4;
    padding: 10px 20px;
    text-align: center;
}
